<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/about.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700|Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <ul>
            <li id="contactos">CONTACT</li>
            <li>MUSIC</li>
            <li>ABOUT</li>
            <li>HOME</li>
        </ul>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>ABOUT <br> EMILIA //</h1>
    <br>
    <br>
    <div class="frases">
        "Seattle-based pop star makes her<br>indie debut with a hauntingly beautiful album"
    </div>
    <br>
    <div class="autor">
        - John Tirckle, Music Today Post
    </div>
    <br>
    <br>
    <div class="frases">
        "Emilia Cole is one of the<br>scene's breakout stars"
    </div>
    <br>
    <div class="autor">
        - John Tirckle, Music Today Post
    </div>
</body>
</html>