<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700|Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
	<p>Home<br><br>About<br><br>Music<br><br>Contact</p>
	<h2>E M I L I A<br>C O L E / /</h2>
	<img id= "fotoHome" src="/images/emilia-home.jpg" width="60%">
	<h1>TWIST IN MY REALITY</h1>
</body>
</html>