<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/music.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700|Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
         <ul>
            <li id="contactos">CONTACT</li>
            <li>MUSIC</li>
            <li>ABOUT</li>
            <li>HOME</li>
        </ul>
    </header>
</body>
</html>